.form-table-container {
    width: 65%;
    padding: 10px;
}

.form-container {
    width: 100%;
    display: flex;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    color: #007aff;
}

a {
    text-decoration: underline;
    color: inherit;
}

button {
    margin: 4px;
    border: none;
    background-color: rgba(59, 59, 59, 0.329);
    padding: 5px;
    border-radius: 3%;
    cursor: pointer;
    font-weight: 800;
    letter-spacing: 0.1rem;
    min-width: 10%;
}

input {
    margin: 4px;
    color: rgba(59, 59, 59, 0.900);
    min-width: 70%;
    padding: 3px;
    display: flex;
    justify-items: auto;
}

.url-error {
    color: red;
    padding: 5px;
    text-align: start;
    min-width: 7%;
    font-size: medium;
}

.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border: none;
    width: 100%;
    background-color: white;
    margin: 10px;
    padding: 5px;
}

th {
    padding: 10px;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    text-align: left;
    border-color: rgba(59, 59, 59, 0.329);
}

.dotTd {
    text-align: center;
}

td {
    padding: 13px;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(59, 59, 59, 0.329);
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.title {
    color: #007bffd8;
    margin: 0px;
    padding-bottom: 13px;
    text-align: left;
}

.found-status {
    font-weight: 600;
}

.found-status, .test-description {
    display: inline;
}

.spin-icon {
    -webkit-animation: icon-spin 2s infinite linear;
    animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}